@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: Poppins;
    margin: 0;
    font-size: 13px;
    background-color: #181614;
    color: #eee;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-top: 10px;
}

header nav a{
    color: #eee;
    font-size: small;
    margin: 0 30px;
}

.tab{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(#);
    background-size: 50%;
}

.tab .container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

#intro{
    background-color: #181614;
}


#intro .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 800px;
    max-width: 80%;
}

#intro .content .name,
#intro .content .job{
    font-size: 9em;
    font-family: Righteous;
    line-height: 1em;
}

.text-gradient{
    font-size: 1.5em;
    line-height: 0.8em;
    background-image: linear-gradient(to right, #45e4e4, #cac13e);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#intro .content .des{
    margin-top: 1.2em;
    width: 70%;
}

#intro .content a{
    margin-top: 1.2em;
}

.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}

#intro{
    z-index: 2;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(0 at var(--x) var(--y));
    animation: showTab 1s ease-in-out 1 forwards;
}

@keyframes showTab {
    to{
        clip-path: circle(200% at var(--x) var(--y));
    }
}

.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: visible;
}

.banner .product{
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left: 0px;
    display: flex;
    margin-left: 30em;
}

.banner .product .soda{
    background:
        var(--url) var(--left) 0,
        url(./93f11499-def0-490e-abb1-a2edc563398d\(1\).png);
    background-size: auto 100%;
    width: 340px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    mask-image: url(./93f11499-def0-490e-abb1-a2edc563398d\(1\).png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner .product:hover{
    --left: -1000px;
    transform: translateX(-50%) translateY(-120px);
}

.banner:has(.product:hover) .text-gradient{
    background-image: linear-gradient(to right, #cac13e, #bb2323);
}

.banner .product .soda:nth-child(2){
    opacity: 0;
}

.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}

.splash{
    position: absolute;
    inset: 0 0 0 0;
    pointer-events: none;
    z-index: -1;
}

.splash img{
    margin-top: 26.5em;
    margin-left: -6em;
    position: absolute;
    transition: 0.7s;
    width: 50em;
    filter: hue-rotate(110deg);
}

.banner:has(.product:hover) .splash img{
    margin-top: 24.5em;
    margin-left: -16em;
    position: absolute;
    transition: 0.7s;
    width: 70em;
    filter: hue-rotate(0deg);
}